COMPOSE_PROJECT_NAME=magento

PHP_VERSION=8.5
MARIADB_VERSION=12.3
OPENSEARCH_VERSION=3
VALKEY_VERSION=9
RABBITMQ_VERSION=4.3
NGINX_VERSION=1.30

HTTP_PORT=80
HTTPS_PORT=443

DB_ROOT_PASSWORD=root
DB_NAME=magento
DB_USER=magento
DB_PASSWORD=magento

RABBITMQ_USER=magento
RABBITMQ_PASSWORD=magento

OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g

UID=1000
GID=1000
